<!DOCTYPE html>
<html class="wrapper">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div style="display:flex;flex-direction:column;justify-content:between-space;height:100%;>
    <div style="background:black">
      <%= render 'layouts/header' %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <div>  
      <%= render 'layouts/footer' %>
    </div>
    </div>
  </body>
</html>
